.d-grid{
    display: grid;
}
/* 1 */

.h-m-c-i-f{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1fr 1fr 100px;
    gap: 2px;
    grid-template-areas:
    "header header header header header"  
    "main-selection main-selection main-selection main-selection main-selection"
    "content-section content-section content-section content-section content-section"
    "info-section info-section info-section info-section info-section"
    "footer footer footer footer footer";
}
.h-m-c-i-f div:nth-child(1){
    grid-area: main-selection;
}
.h-m-c-i-f div:nth-child(2){
    grid-area: header;
}
.h-m-c-i-f div:nth-child(3){
    grid-area: content-section;
}
.h-m-c-i-f div:nth-child(4){
    grid-area: info-section;
}
.h-m-c-i-f div:nth-child(5){
    grid-area: footer;
}
/* 2 */
.anim-size-min960{
    grid-template: repeat(2, 150px)/ 1fr 1fr 1fr;

}
.anim-size-min960 div{
    max-width: 960px;
}

/* 3*/

.block-width-rows-margin{
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 300px;
}
.block-width-rows-margin div:nth-child(2){
    margin: 50px;
}

@media(min-width: 480px){
    .h-m-c-i-f{
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas: 
        "header header header main-selection main-selection"
        "content-section info-section info-section info-section info-section"
        "footer footer footer footer footer";
    }
}
@media(min-width: 768px){
    .h-m-c-i-f{
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas: 
        "header header header header main-selection"
        "content-section content-section info-section info-section info-section"
        "footer footer footer footer footer";
    }
}